body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(63, 85, 133);
}

body#inicio{
    background: url("/img/bannermarvel.jpg"); 
    background-repeat: no-repeat;
    /* background-size: 100%; */
    color: white;
}

a{
    text-decoration: none;
 
}
nav{
    display: flex;
    background-color: rgb(23, 47, 99);
}

#nav{
    display: flex;
    background-color: white;
    border-radius: 20px;
    margin: 15px;
    cursor: pointer;
}

#tit{
    font-size: 60px;
}

/* inicio */

h1{
    display: flex;
    justify-content: center;
    align-items: baseline;
}

/* cadastro */
header {
    display: flex;    
    justify-content: center;
    flex-wrap: wrap;
}

article{
    margin: 35px;
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;
    color: white;
}

#form1{
    width: 50%;
}

#form2{
    width: 50%;
}

#image, #nome{
    display: flex;
    border-radius: 10px;
    width: 65%;
    height: 30px;
    border: solid black 3px;
}

#forca, #vel, #hab, #equip, #int, #poder{
    display: flex;
    border-radius: 10px;
    width: 40%;
    height: 30px;
    border: solid black 3px;
}

#labelIm, #image{
    margin-left: 1%;
}

#labelH, #hab{
    margin-left: 12%;
}

#labelF, #forca{
    margin-left: 23%;
}

#labelV, #vel{
    margin-left: 34%;
}

#labelN, #nome{
    margin-left: 34%;
}

#labelE, #equip{
    margin-left: 45%;
}

#labelI, #int{
    margin-left: 32%;
}

#labelP, #poder{
    margin-left: 20%;
}

#labelIc, #icon{
    margin-left: 70%;
}

#dadosC{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;   
    background-image: url("/img/new.png");
    background-repeat: no-repeat;
}

#nav2{
    display: flex;
    justify-content: center;
    background-color: white;
    border-radius: 20px;
    margin-top: 15px;
    width: 90px;
    cursor: pointer;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    article{
        margin: 15px;
        font-family: 'Bebas Neue', cursive;
        font-size: 1.3rem;
        color: white;
    }
}

@media only screen and (min-device-width : 1080px) {
    #form1{
        width: 50%;
    }
    
    #form2{
        width: 50%;
    }

    #forca, #vel, #hab, #equip, #int, #poder{
        display: flex;
        border-radius: 10px;
        width: 35%;
        height: 30px;
        border: solid black 3px;
    }

    #image, #nome{
        display: flex;
        border-radius: 10px;
        width: 35%;
        height: 30px;
        border: solid black 3px;
    }
    
    #labelN, #nome{
        margin-left: 50%;
    }

    #dadosC{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;   
        background-image: url("/img/new.png");
        background-size: 100%;
        background-repeat: no-repeat;
}
}
/* catalogo */
#dado{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    font-family: 'Bebas Neue', cursive;
    font-size: 3rem;
    color: white;
}

#pers{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 80%;
    font-family: 'Bebas Neue', cursive;
    font-size: 3rem;
    color: white;
    border: solid 2px white;
    background-color: rgb(23, 47, 99);
    margin: 2px;
    padding: 10px;
}

#persN{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 80%;
    font-family: 'Bebas Neue', cursive;
    font-size: 3rem;
    color: white;
    border: solid 2px white;
    background-color: rgb(23, 47, 99);
    margin: 2px;
    padding: 5px;
}


#dados{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    
}

#herois{
    display: flex;
    width: 500px;
    height: 350px;
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;
    position: relative;
    max-width:100%;
}

span{
    display: flex;
    justify-content: center;
    position: absolute;
    right: 31%;
    height: 10%;
    transform: rotate(45deg);
}

ul{
    display: flex;
    flex-direction: column;
}

li{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 2rem;
}

p{
    display: flex;
    flex-wrap: wrap;
    font-size: 1.5rem;
}

/* detalhes */
#acoes{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#navAt{
    background-color: yellow;
    border-radius: 20px;
    margin-top: 15px;
    width: 90px;
    height: 40px;
    margin: 15px;
    cursor: pointer;
}

#navExc{
    background-color: red;
    border-radius: 20px;
    margin-top: 15px;
    width: 90px;
    height: 40px;
    margin: 15px;
    cursor: pointer;
}