body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(63, 85, 133);
}

body#inicio{
    background: url("/img/bannermarvel.jpg"); 
    background-repeat: no-repeat;
    /* background-size: 100%; */
    color: white;
}

a{
    text-decoration: none;
 
}
nav{
    display: flex;    
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(23, 47, 99);
}

#nav{
    display: flex;
    background-color: white;
    border-radius: 20px;
    margin: 15px;
    cursor: pointer;
}

#tit{
    font-size: 3rem;
}

/* inicio */

h1{
    display: flex;
    justify-content: center;
    align-items: baseline;
}

/* cadastro */
header {
    display: flex;    
    justify-content: center;
    width:100%;
}

article{
    /* margin: 35px; */
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;
    color: white;
}

#form1{
    width: 50%;
}

#form2{
    width: 50%;
}

#image, #nome{
    display: flex;
    border-radius: 10px;
    width: 65%;
    height: 30px;
    border: solid black 3px;
}

#forca, #vel, #hab, #equip, #int, #poder{
    display: flex;
    border-radius: 10px;
    width: 13%;
    height: 30px;
    border: solid black 3px;
}

#labelIm, #image{
    margin-left: 1%;
}

#labelH, #hab{
    margin-left: 12%;
}

#labelF, #forca{
    margin-left: 23%;
}

#labelV, #vel{
    margin-left: 34%;
}

#labelN, #nome{
    margin-left: 34%;
}

#labelE, #equip{
    margin-left: 45%;
}

#labelI, #int{
    margin-left: 32%;
}

#labelP, #poder{
    margin-left: 20%;
}

#labelIc, #icon{
    margin-left: 70%;
}

#dadosC{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;   
    background-image: url("/img/new.png");
    background-repeat: no-repeat;
}

#nav2{
    display: flex;
    justify-content: center;
    background-color: white;
    border-radius: 20px;
    margin-top: 15px;
    width: 90px;
    cursor: pointer;
}

/* catalogo */
#dado{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    font-family: 'Bebas Neue', cursive;
    font-size: 3rem;
    color: white;
}

#pers{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 80%;
    font-family: 'Bebas Neue', cursive;
    font-size: 3rem;
    color: white;
    border: solid 2px white;
    background-color: rgb(23, 47, 99);
    margin: 2px;
    padding: 10px;
}

#persN{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 80%;
    font-family: 'Bebas Neue', cursive;
    font-size: 3rem;
    color: white;
    border: solid 2px white;
    background-color: rgb(23, 47, 99);
    margin: 2px;
    padding: 5px;
}


#dados{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    
}

#herois{
    display: flex;
    width: 500px;
    height: 350px;
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;
    position: relative;
    max-width:100%;
}

span{
    display: flex;
    justify-content: center;
    position: absolute;
    right: 31%;
    height: 10%;
    transform: rotate(45deg);
}

ul{
    display: flex;
    flex-direction: column;
}

li{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 2rem;
}

p{
    display: flex;
    flex-wrap: wrap;
    font-size: 1.5rem;
}

/* detalhes */
#det{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#acoes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(63, 85, 133);
}

#navAt{
    display: flex;
    align-items: center;
    background-color: yellow;
    border-radius: 20px;
    margin-top: 15px;
    width: 110px;
    height: 60px;
    margin: 15px;
    cursor: pointer;
}

#navExc{
    display: flex;
    align-items: center;
    background-color: red;
    border-radius: 20px;
    margin-top: 15px;
    width: 110px;
    height: 60px;
    margin: 15px;
    cursor: pointer;
}

#detalhe{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(23, 47, 99);
    width: 45%;
    border-radius: 10px;
}

#imgs{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

#imgdetalhe{
    display: flex;
    width: 300px;
    height: 300px;
    max-width:100%;
    border-radius: 20px;
    margin: 10px;
}

#logo{
    width: 30%;
    height: 30%;
    transform: rotate(45deg);
}

#det1, #det2, #det3, #det4, #det5, #det6{
    display: flex;
    justify-content: space-between;
    background-color: rgb(63, 85, 133);
    margin: 3px;
    border-radius: 25px;
    padding-right: 30px;
    font-size: 25px;
}

#det1{
    margin-left: 1%;
    width: 75%;
}

#det2{
    margin-left: 11%;
    width: 65%;
}

#det3{
    margin-left: 21%;
    width: 55%;
}

#det4{
    margin-left: 31%;
    width: 45%;
}

#det5{
    margin-left: 41%;
    width: 35%;
}

#det6{
    margin-left: 51%;
    width: 25%;
}
/*-------------------------------------------------------------------------------------*/

@media only screen and (min-device-width : 1080px) {
    #form1{
        width: 50%;
    }
    
    #form2{
        width: 50%;
    }

    #forca, #vel, #hab, #equip, #int, #poder{
        display: flex;
        border-radius: 10px;
        width: 17%;
        height: 30px;
        border: solid black 3px;
    }

    #image, #nome{
        display: flex;
        border-radius: 10px;
        width: 35%;
        height: 30px;
        border: solid black 3px;
    }
    
    #labelN, #nome{
        margin-left: 50%;
    }

    #dadosC{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;   
        background-image: url("/img/new.png");
        background-size: 100%;
        background-repeat: no-repeat;
}
}

@media only screen and (min-device-width : 731px) and (max-device-width : 1169px) {
    li{
        font-size: 1.8rem;
        display: flex;
        justify-content: center;

    }
    #detalhe{
        width: 50%;
    }

#det1{
    margin-left: 1%;
    width: 85%;
}

#det2{
    margin-left: 11%;
    width: 75%;
}

#det3{
    margin-left: 21%;
    width: 65%;
}

#det4{
    margin-left: 31%;
    width: 55%;
}

#det5{
    margin-left: 41%;
    width: 45%;
}

#det6{
    margin-left: 51%;
    width: 35%;
}
}

@media only screen and (min-device-width : 625px) and (max-device-width : 730px) {
    li{
        font-size: 1.8rem;
        display: flex;
        justify-content: center;

    }
    #detalhe{
    width: 80%;
    }
}

@media only screen and (min-device-width : 600px) and (max-device-width : 624px) {
    li{
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
    }

    #detalhe{
        width: 80%;
    }
}

@media only screen and (min-device-width : 180px) and (max-device-width : 599px) {
    article{
        margin: 15px;
        font-family: 'Bebas Neue', cursive;
        font-size: 1.3rem;
        color: white;
    }

    #imgdetalhe{
        margin: 0;
    }

    #detalhe{
        width: 80%;
    }

    #tit{
        font-size: 2rem;
    }

    li{
        font-size: 1rem;
    }
    
    #det1, #det2, #det3, #det4, #det5, #det6{
        padding-right: 30px;
        font-size: 15px;
        margin-left: 0px;
        width: 60%;
    }
}

section#message {
    padding: 1.5rem;
    background-color: rgb(197, 255, 214);
    color: #004d04;
    position: fixed;
    top: 3rem;
    left: 0;
    right: 0;
    z-index: 100;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
    
    span#close {
      font-size: 2rem;
      cursor: pointer;
      transition: 0.2s;
    }
    
    span#close:hover {
      color: rgb(255, 0, 0);
      transform: scale(1.1);
    }