<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <title>
        <%= titulo %>
    </title>
</head>

<body id="new">
    <nav id="C">
        <a href="./index"><input type="button" value="HOME" id="nav"></button></a>
        <a href="./catalogo"><input type="button" value="LISTA" id="nav"></button></a>
        <!-- tirar botao de detalhes -->
    </nav>
    <header>
        <article id="tit">
            <%= titulo %>
        </article>
    </header>
    <main>
        <section id="form">
            <form id="dadosC" action="/catalogo" method="POST">
                <section id="form1">
                    <article>
                        <label for="image" id="labelIm">Imagem</label>
                        <input type="url" id="image" name="image" placeholder="Url da imagem">
                    </article>
                    <article>
                        <label for = "hab" id="labelH">Habilidade</label>
                        <input type="number" id="hab" name="hab" placeholder="Insira o nível da habilidade" min=0 max=10>
                    </article>
                    <article>
                        <label for="forca" id="labelF">Força</label>
                        <input type="number" id="forca" name="forca" placeholder="Insira o nível de força" min=0 max=10>
                    </article>
                    <article>
                        <label for="vel" id="labelV">Velocidade</label>
                        <input type="number" id="vel" name="vel" placeholder="Insira o nível da velocidade" min=0
                            max=10>
                    </article>
                    <article>
                        <label for = "icon" id="labelIc">Icone</label>
                        <input type="text" id="icon" name="icon" placeholder="url do icone">
                    </article>
                </section>
                <section id="form2">
                    <article>
                        <label for = "nome" id="labelN">Nome</label>
                        <input type="text" id="nome" name="nome" placeholder="Insira o nome">
                    </article>
                    <article>
                        <label for="equip" id="labelE">Equipamento</label>
                        <input type="number" id="equip" name="equip" placeholder="Insira o nível de equipamento" min=0
                            max=10>
                    </article>
                    <article>
                        <label for="int" id="labelI">Inteligência</label>
                        <input type="number" id="int" name="int" placeholder="Insira o nível de inteligência" min=0
                            max=10>
                    </article>
                    <article>
                        <label for="poder" id="labelP">Poder</label>
                        <input type="number" id="poder" name="poder" placeholder="Insira o nível do poder" min=0 max=10>
                    </article>
<<<<<<< HEAD
                <article>
                    <label for = "int" id="labelI">Inteligência</label>
                    <input type="number" id="int" name="int" placeholder="Insira o nível de inteligência" min=0 max=10>
                </article>        
                <article>
                    <label for = "poder" id="labelP">Poder</label>
                    <input type="number" id="poder" name="poder" placeholder="Insira o nível do poder" min=0 max=10>
                </article>
                
=======
>>>>>>> aa36da1ecc18b77ccb5b232d9871951376716b47
                </section>

                <button type="submit" id="nav2">Enviar</button>
            </form>
        </section>
        <h4>Lembre-se, as informações de níveis devem ser entre 1 e 10.</h4>
    </main>

    <script src="/js/cadastro.js"></script>
</body>

</html>