<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <title>
        <%= titulo %>
    </title>
</head>

<body id="inicio">
    <nav>
        <a href="./catalogo"><input type="button" value="LISTA" id="nav"></button></a>
        <a href="./cadastro"><input type="button" value="CADASTRO" id="nav"></button></a>
    </nav>
    <header>
        <article id="tit">
            <%= titulo %>
        <article>
    </header>

    <script src="/js/index.js"></script>
</body>

</html>