body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(63, 85, 133);
}

body#inicio{
    background: url("/img/bannermarvel.jpg"); 
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
}

a{
    text-decoration: none;
    /* width: 20%;
    height: 40%; */
}
nav{
    display: flex;
    background-color: rgb(23, 47, 99);
}

#nav{
    display: flex;
    background-color: white;
    border-radius: 20px;
    margin: 15px;
}
/* inicio */

h1{
    display: flex;
    justify-content: center;
    align-items: baseline;
}

/* cadastro */
header {
    display: flex;    
    justify-content: center;
    flex-wrap: wrap;
}

h3{
    display: flex;
    justify-content: start;
}

#image, #nome, #forca, #vel, #hab, #equip, #int, #poder{
    display: flex;
    border-radius: 10px;
    width: 200px;
    height: 30px;
}

#labelIm, #image{
    margin-left: 1%;
}

#labelN, #nome{
    margin-left: 7%;
}

#labelF, #forca{
    margin-left: 13%;
}

#labelV, #vel{
    margin-left: 19%;
}

#labelH, #hab{
    margin-left: 25%;
}

#labelE, #equip{
    margin-left: 31%;
}

#labelI, #int{
    margin-left: 37%;
}

#labelP, #poder{
    margin-left: 43%;
}

#dadosC{
    display: flex;
    flex-direction: column;   
}

#nav2{
    display: flex;
    background-color: white;
    border-radius: 20px;
    margin-left: 44%;
    margin-top: 15px;
    width: 50px;
}

/* catalogo */
#dado{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    border: solid 2px black;
    width: 100%;
    height: 100%;
}

#dados{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    
}

#herois{
    display: flex;
    width: 60%;
    height: 60%;
}

ul{
    display: flex;
    flex-direction: column;
}

li{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1rem;
}

p{
    display: flex;
    flex-wrap: wrap;
    font-size: 1.5rem;
}