body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(18, 188, 240);
}

body#inicio{
    background: url("/img/inicio.jpg"); 
    background-size: 100%;
    color: white;
}

body#lista{
    background: url("/img/aranha.jpg"); 
    background-size: 100%;
    color: white;
}

body#new{
    background: url("/img/homem-ferro.jpg"); 
    background-size: 100%;
    color: white;
}

body#details{
    background: url("/img/superman-.jpg"); 
    background-size: 100%;
    color: white;
}

a{
    text-decoration: none;
}
nav{
    display: flex;
}

#nav{
    display: flex;
    background-color: white;
    border-radius: 20px;
    margin: 15px;
}

/* cadastro */
header {
    display: flex;    
    justify-content: center;
    flex-wrap: wrap;
}

h3{
    display: flex;
    justify-content: center;
}

#nome, #forca, #vel, #hab, #equip, #int, #poder{
    display: flex;
    justify-content: center;
    border-radius: 10px;
    width: 200px;
    height: 30px;
}

#dados{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}