body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(18, 188, 240);
}

body#inicio{
    background: url("/img/inicio.jpg"); 
    background-size: 100%;
    color: white;
}

body#lista{
    background: url("/img/aranha.jpg"); 
    background-size: 100%;
    color: white;
}

body#new{
    background: url("/img/homem-ferro.jpg"); 
    background-size: 100%;
    color: white;
}

body#details{
    background: url("/img/superman-.jpg"); 
    background-size: 100%;
    color: white;
}

a{
    text-decoration: none;
}
nav{
    display: flex;
}

#nav{
    display: flex;
    background-color: white;
    border-radius: 20px;
    margin: 15px;
}

/* cadastro */
header {
    display: flex;    
    justify-content: center;
    flex-wrap: wrap;
}

h3{
    display: flex;
    justify-content: start;
}

#nome, #forca, #vel, #hab, #equip, #int, #poder{
    display: flex;
    border-radius: 10px;
    width: 200px;
    height: 30px;
}

#labelF, #forca{
    margin-left: 7%;
}

#labelV, #vel{
    margin-left: 13%;
}

#labelH, #hab{
    margin-left: 19%;
}

#labelE, #equip{
    margin-left: 25%;
}

#labelI, #int{
    margin-left: 31%;
}

#labelP, #poder{
    margin-left: 37%;
}

#dados{
    display: flex;
    flex-direction: column;   
}

#nav2{
    display: flex;
    background-color: white;
    border-radius: 20px;
    margin-left: 44%;
    margin-top: 15px;
    width: 50px;
}